
.vs/peer.vc15/v15/.suo
*.db
deps/mongoose-master/.clang-format
*.obj
*.lib
*.tlog
*.log
*.idb
*.pdb
*.exe
*.ilk
deps/mongoose-master/examples/captive-dns-server/main.c
deps/mongoose-master/examples/captive-dns-server/Makefile
deps/mongoose-master/examples/captive-dns-server/README.md
deps/mongoose-master/examples/complete/images/1.jpg
deps/mongoose-master/examples/complete/images/2.jpg
deps/mongoose-master/examples/complete/images/3.jpg
deps/mongoose-master/examples/complete/images/4.jpg
deps/mongoose-master/examples/complete/images/5.jpg
deps/mongoose-master/examples/complete/images/6.jpg
deps/mongoose-master/examples/complete/main.c
deps/mongoose-master/examples/complete/Makefile
deps/mongoose-master/examples/complete/mjson.c
deps/mongoose-master/examples/complete/mjson.h
deps/mongoose-master/examples/complete/README.md
deps/mongoose-master/examples/complete/screenshots/dashboard.png
deps/mongoose-master/examples/complete/screenshots/login.png
deps/mongoose-master/examples/complete/screenshots/logs.png
deps/mongoose-master/examples/complete/web_root/app.js
deps/mongoose-master/examples/complete/web_root/axios.min.js
deps/mongoose-master/examples/complete/web_root/bootstrap.min.css
deps/mongoose-master/examples/complete/web_root/history.min.js
deps/mongoose-master/examples/complete/web_root/htm.min.js
deps/mongoose-master/examples/complete/web_root/images/logo.png
deps/mongoose-master/examples/complete/web_root/images/user.png
deps/mongoose-master/examples/complete/web_root/index.html
deps/mongoose-master/examples/complete/web_root/linkstate.min.js
deps/mongoose-master/examples/complete/web_root/preact-router.min.js
deps/mongoose-master/examples/complete/web_root/preact.min.js
deps/mongoose-master/examples/complete/web_root/style.css
deps/mongoose-master/examples/dashboard/main.c
deps/mongoose-master/examples/dashboard/Makefile
deps/mongoose-master/examples/dashboard/mjson.c
deps/mongoose-master/examples/dashboard/mjson.h
deps/mongoose-master/examples/dashboard/web_root/app.js
deps/mongoose-master/examples/dashboard/web_root/axios.min.js
deps/mongoose-master/examples/dashboard/web_root/htm.min.js
deps/mongoose-master/examples/dashboard/web_root/index.html
deps/mongoose-master/examples/dashboard/web_root/linkstate.min.js
deps/mongoose-master/examples/dashboard/web_root/preact.min.js
deps/mongoose-master/examples/dashboard/web_root/style.css
deps/mongoose-master/examples/esp32/CMakeLists.txt
deps/mongoose-master/examples/esp32/main/CMakeLists.txt
deps/mongoose-master/examples/esp32/main/main.c
deps/mongoose-master/examples/esp32/main/mongoose.c
deps/mongoose-master/examples/esp32/main/mongoose.h
deps/mongoose-master/examples/esp32/main/wifi.c
deps/mongoose-master/examples/esp32/Makefile
deps/mongoose-master/examples/esp32/partitions.csv
deps/mongoose-master/examples/esp32/README.md
deps/mongoose-master/examples/esp32/sdkconfig.defaults
deps/mongoose-master/examples/esp8266/Makefile
deps/mongoose-master/examples/esp8266/README.md
deps/mongoose-master/examples/esp8266/src/main/component.mk
deps/mongoose-master/examples/esp8266/src/main/main.c
deps/mongoose-master/examples/esp8266/src/main/mongoose.c
deps/mongoose-master/examples/esp8266/src/main/wifi.c
deps/mongoose-master/examples/esp8266/src/Makefile
deps/mongoose-master/examples/file-upload/main.c
deps/mongoose-master/examples/file-upload/Makefile
deps/mongoose-master/examples/file-upload/README.md
deps/mongoose-master/examples/file-upload/web_root/index.html
deps/mongoose-master/examples/form-upload/main.c
deps/mongoose-master/examples/form-upload/Makefile
deps/mongoose-master/examples/form-upload/README.md
deps/mongoose-master/examples/form-upload/web_root/index.html
deps/mongoose-master/examples/http-client/ca.pem
deps/mongoose-master/examples/http-client/main.c
deps/mongoose-master/examples/http-client/Makefile
deps/mongoose-master/examples/http-client/README.md
deps/mongoose-master/examples/http-proxy-client/ca.pem
deps/mongoose-master/examples/http-proxy-client/main.c
deps/mongoose-master/examples/http-proxy-client/Makefile
deps/mongoose-master/examples/http-restful-server/ca.pem
deps/mongoose-master/examples/http-restful-server/main.c
deps/mongoose-master/examples/http-restful-server/Makefile
deps/mongoose-master/examples/http-restful-server/server.pem
deps/mongoose-master/examples/http-reverse-proxy/ca.pem
deps/mongoose-master/examples/http-reverse-proxy/main.c
deps/mongoose-master/examples/http-reverse-proxy/Makefile
deps/mongoose-master/examples/http-server/main.c
deps/mongoose-master/examples/http-server/Makefile
deps/mongoose-master/examples/http-server/README.md
deps/mongoose-master/examples/http-streaming-client/ca.pem
deps/mongoose-master/examples/http-streaming-client/main.c
deps/mongoose-master/examples/http-streaming-client/Makefile
deps/mongoose-master/examples/huge-response/main.c
deps/mongoose-master/examples/huge-response/Makefile
deps/mongoose-master/examples/huge-response/mjson.c
deps/mongoose-master/examples/huge-response/mjson.h
deps/mongoose-master/examples/huge-response/web_root/index.html
deps/mongoose-master/examples/infineon/infineon-xmc4700_4800-lwip-rtx-rtos/Makefile
deps/mongoose-master/examples/json-rpc-over-websocket/main.c
deps/mongoose-master/examples/json-rpc-over-websocket/Makefile
deps/mongoose-master/examples/json-rpc-over-websocket/mjson.c
deps/mongoose-master/examples/json-rpc-over-websocket/mjson.h
deps/mongoose-master/examples/json-rpc-over-websocket/README.md
deps/mongoose-master/examples/json-rpc-over-websocket/web_root/index.html
deps/mongoose-master/examples/json-rpc-over-websocket/web_root/rpc-over-websocket.js
deps/mongoose-master/examples/live-log/main.c
deps/mongoose-master/examples/live-log/Makefile
deps/mongoose-master/examples/live-log/web_root/index.html
deps/mongoose-master/examples/mqtt-client-aws-iot/ca.pem
deps/mongoose-master/examples/mqtt-client-aws-iot/main.c
deps/mongoose-master/examples/mqtt-client-aws-iot/Makefile
deps/mongoose-master/examples/mqtt-client-aws-iot/README.md
deps/mongoose-master/examples/mqtt-client/ca.pem
deps/mongoose-master/examples/mqtt-client/main.c
deps/mongoose-master/examples/mqtt-client/Makefile
deps/mongoose-master/examples/mqtt-client/README.md
deps/mongoose-master/examples/mqtt-over-ws-client/ca.pem
deps/mongoose-master/examples/mqtt-over-ws-client/main.c
deps/mongoose-master/examples/mqtt-over-ws-client/Makefile
deps/mongoose-master/examples/mqtt-server/main.c
deps/mongoose-master/examples/mqtt-server/Makefile
deps/mongoose-master/examples/mqtt-server/README.md
deps/mongoose-master/examples/multi-threaded/main.c
deps/mongoose-master/examples/multi-threaded/Makefile
deps/mongoose-master/examples/multiple-logins/main.c
deps/mongoose-master/examples/multiple-logins/Makefile
deps/mongoose-master/examples/multiple-logins/web_root/app.js
deps/mongoose-master/examples/multiple-logins/web_root/axios.min.js
deps/mongoose-master/examples/multiple-logins/web_root/bootstrap.min.css
deps/mongoose-master/examples/multiple-logins/web_root/history.min.js
deps/mongoose-master/examples/multiple-logins/web_root/htm.min.js
deps/mongoose-master/examples/multiple-logins/web_root/images/logo.png
deps/mongoose-master/examples/multiple-logins/web_root/images/user.png
deps/mongoose-master/examples/multiple-logins/web_root/index.html
deps/mongoose-master/examples/multiple-logins/web_root/preact-router.min.js
deps/mongoose-master/examples/multiple-logins/web_root/preact.min.js
deps/mongoose-master/examples/multiple-logins/web_root/style.css
deps/mongoose-master/examples/nxp/nxp-evkbimxrt1050-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-evkmimxrt1020-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-evkmimxrt1024-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-evkmimxrt1060-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-evkmimxrt1064-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-evkmimxrt1160-cm7-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-evkmimxrt1170-cm4-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-evkmimxrt1170-cm7-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-frdmk64f-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-frdmk66f-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-frdmk66f-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-lpcxpresso54018-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-lpcxpresso54608-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-lpcxpresso54618-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-lpcxpresso54628-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-lpcxpresso54s018m-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-mimxrt1020-azurertos/Makefile
deps/mongoose-master/examples/nxp/nxp-mimxrt1020-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-twrk65f180m-lwip-freertos/Makefile
deps/mongoose-master/examples/nxp/nxp-twrkv58f220m-lwip-freertos/Makefile
deps/mongoose-master/examples/socks5-server/main.c
deps/mongoose-master/examples/socks5-server/Makefile
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/HAL/Legacy/stm32_hal_legacy.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/HAL/stm32f7xx_hal.c
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/HAL/stm32f7xx_hal.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/HAL/stm32f7xx_hal_conf.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/HAL/stm32f7xx_hal_cortex.c
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/HAL/stm32f7xx_hal_cortex.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/HAL/stm32f7xx_hal_def.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/HAL/stm32f7xx_hal_gpio.c
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/HAL/stm32f7xx_hal_gpio.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/HAL/stm32f7xx_hal_gpio_ex.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/HAL/stm32f7xx_hal_rcc.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/HAL/stm32f7xx_hal_rcc_ex.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/main.c
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/Makefile
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/openocd.cfg
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/README.md
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/boot.s
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/cmsis_gcc.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/core_cm7.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/core_cmFunc.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/core_cmInstr.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/core_cmSimd.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/device.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/FreeRTOSConfig.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/FreeRTOSIPConfig.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/link.ld
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/portmacro.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/stm32f746xx.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/stm32f7xx.h
deps/mongoose-master/examples/stm32/stm32-freertos-tcp/stm32f7/system_stm32f7xx.h
deps/mongoose-master/examples/stm32/stm32-nucleo-f429z/Makefile
deps/mongoose-master/examples/stm32/stm32-nucleo-f746z/Makefile
deps/mongoose-master/examples/stm32/stm32-nucleo-h743z/Makefile
deps/mongoose-master/examples/stm32/stm32-nucleo-h743z/README.md
deps/mongoose-master/examples/timers/main.c
deps/mongoose-master/examples/timers/Makefile
deps/mongoose-master/examples/udp-ssdp-search/main.c
deps/mongoose-master/examples/udp-ssdp-search/Makefile
deps/mongoose-master/examples/video-stream/images/1.jpg
deps/mongoose-master/examples/video-stream/images/2.jpg
deps/mongoose-master/examples/video-stream/images/3.jpg
deps/mongoose-master/examples/video-stream/images/4.jpg
deps/mongoose-master/examples/video-stream/images/5.jpg
deps/mongoose-master/examples/video-stream/images/6.jpg
deps/mongoose-master/examples/video-stream/main.c
deps/mongoose-master/examples/video-stream/Makefile
deps/mongoose-master/examples/video-stream/web_root/index.html
deps/mongoose-master/examples/websocket-client/ca.pem
deps/mongoose-master/examples/websocket-client/main.c
deps/mongoose-master/examples/websocket-client/Makefile
deps/mongoose-master/examples/websocket-client/README.md
deps/mongoose-master/examples/websocket-server/main.c
deps/mongoose-master/examples/websocket-server/Makefile
deps/mongoose-master/examples/websocket-server/README.md
deps/mongoose-master/examples/websocket-server/test.html
deps/mongoose-master/examples/zephyr/.zephyr_install.sh
deps/mongoose-master/examples/zephyr/http-client/CMakeLists.txt
deps/mongoose-master/examples/zephyr/http-client/Makefile
deps/mongoose-master/examples/zephyr/http-client/prj.conf
deps/mongoose-master/examples/zephyr/http-client/src/certs.h
deps/mongoose-master/examples/zephyr/http-client/src/main.c
deps/mongoose-master/examples/zephyr/http-server/CMakeLists.txt
deps/mongoose-master/examples/zephyr/http-server/Makefile
deps/mongoose-master/examples/zephyr/http-server/prj.conf
deps/mongoose-master/examples/zephyr/http-server/src/certs.h
deps/mongoose-master/examples/zephyr/http-server/src/main.c
deps/mongoose-master/examples/zephyr/Makefile
deps/mongoose-master/examples/zephyr/mqtt-aws-client/CMakeLists.txt
deps/mongoose-master/examples/zephyr/mqtt-aws-client/Makefile
deps/mongoose-master/examples/zephyr/mqtt-aws-client/prj.conf
deps/mongoose-master/examples/zephyr/mqtt-aws-client/src/certs.h
deps/mongoose-master/examples/zephyr/mqtt-aws-client/src/main.c
deps/mongoose-master/examples/zephyr/websocket-server/CMakeLists.txt
deps/mongoose-master/examples/zephyr/websocket-server/Makefile
deps/mongoose-master/examples/zephyr/websocket-server/prj.conf
deps/mongoose-master/examples/zephyr/websocket-server/src/certs.h
deps/mongoose-master/examples/zephyr/websocket-server/src/main.c
.vs/peer.vc15/v15/ipch/AutoPCH/219c964dda46676c/PEER.ipch
.vs/peer.vc15/v15/ipch/AutoPCH/8e9b88776afd3507/BONJOUR.ipch
.vs/peer.vc15/v15/ipch/AutoPCH/b892d6ffe0d9256e/REST.ipch
